<h1>Confirm Booking</h1>

<%= form_for @booking do |f| %>

	<%= f.hidden_field :flight_id, value: @booking.flight_id %>
	
	<p>Flight Information:
		<ul>
			<li>Flight Number: <%= @booking.flight_id %></li>
			<li>
				From: <%= @booking.flight.from_airport.code %> To: <%= @booking.flight.to_airport.code %>
			</li>
			<li>Flight Time: <%= @booking.flight.format_departing_time %></li>
		</ul>
	</P>
	<p>Passengers: <%= @booking.passengers.size %></p>
	<ul>
		<%= f.fields_for :passengers do |passenger| %>
			<li>
			<%= passenger.label :name %>
			<%= passenger.text_field :name %>
			<%= passenger.label :age %>
			<%= passenger.text_field :age %>
			</li>
		<% end %>
	</ul>

	<%= f.submit 'Book Flight' %>
<% end %>